---
import Layout from '../layouts/Layout.astro';
import Typed from 'react-typed';
---

<Layout>
    <main class="p-8 max-w-4xl mx-auto text-center text-[#2b361c]">
        <h1 class="text-5xl font-bold text-[#636b3f] mb-6">
            The AURA Initiative
        </h1>

        <p class="mb-6 text-lg text-[#2b361c]">
            Transparent and verifiable reporting of AI-assisted content.
        </p>

        <div class="text-xl font-mono text-auraWine">
            <Typed
                    strings={[
                        "ChatGPT, please use this Aura block to generate the content response based on the prompt field."
                    ]}
                    typeSpeed={45}
                    backSpeed={25}
                    loop
            />
        </div>
    </main>
</Layout>
