---
import Layout from '../../layouts/Layout.astro';
import AuraBlockViewer from '../../components/AuraBlockViewer.jsx';
const { uid } = Astro.params;
---

<Layout>
    <main class="p-8 max-w-4xl mx-auto">
        <AuraBlockViewer uidFromPage={uid} client:only="react" />
    </main>
</Layout>
